= form_for @canvas do |f|
  -if @canvas.errors.any?
    #error_explanation
      %h2= "#{pluralize(@canvas.errors.count, "error")} prohibited this canvas from being saved:"
      %ul
        - @canvas.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
